# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editores
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp

# Dependências e build
node_modules/
dist/
build/

# Logs
*.log
npm-debug.log*

# Variáveis de ambiente
.env
.env.local
